section {
    height: 25vh;
}

section hr {
    width: 33%;
    border-color: red;
    margin: 1% auto 1% auto;
    text-align: center;
    position: sticky;
}

body section:nth-child(even) {
    background-color: #f7fbad;
    color: black;
    font-size: 1.5em;
    padding-top: 10px;
}

body section:nth-child(odd) {
    background-color: #3f4042;
    color: white;
    font-size: 1.5em;
    padding-top: 5px;
}

* {
    margin: 0;
}

section p {
    position: sticky;
    margin-top: 2%;
}